[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
redis = "*"
gunicorn = "*"
python-lsp-server = {extras = ["all"], version = "*"}
celery = {extras = ["redis"], version = "*"}
async-timeout = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8.*"
